body{
    background-color: #86ABA9;
    font-family: "Fanwood Text";
}

.logo{
    color: #b37312;
    font-size: 40px;
    margin-top: 0px;
}

.main-head{
    text-align: center;
    font-size: 100px;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 150px;
}

.mini-head{
    color: black;
    text-align: center;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 150px;
    position: relative;
    left:22%;
    border: 1px black solid;
    background-color: rgba(179, 115, 18, 0.95);
    opacity: 0.7;
    border-radius: 25px;
    padding: 45px 45px 45px 45px;
    width: 50%;
}

.btn{
    float: right;
    border: 2px black solid;
    padding: 15px 15px 15px 15px;
    width: 10%;
    font-size: 17px;
    border-radius: 30px;
    background-color: rgba(179, 115, 18, 0.95);
    opacity: 0.7;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(0,0,0,0.9);
    color: #b37312;
    cursor: pointer;
}